{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<div class="header-file">
  <form action="{{ url_for('get_file', filename=filename) }}" method="POST">
    <input type="submit" value="Delete file" />
  </form>
  <h2>{{ filename }} file data:</h2>
</div>
<!-- <div class="el-of-file"> -->
{% for row in data[0] %} {% for i in range(row|length - 1) %}
<p class="inline">{{ row[i] }}{{ data[1] }}</p>
{% endfor %}
<p class="inline">{{ row[row|length - 1] }}</p>
<div class="el-of-file"></div>
{% endfor %}{% endblock %}
