{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<style>
  .inline {
    display: inline;
  }
  .head {
    display: flex;
    justify-content: space-between;
  }
</style>
<div class="head">
  <h1>{{ filename }} file data:</h1>
  <form action="{{ url_for('get_file', filename=filename) }}" method="POST">
    <input type="submit" value="Delete file" />
  </form>
</div>
<hr />
{% for row in data[0] %} {% for i in range(row|length - 1) %}
<p class="inline">{{ row[i] }}{{ data[1] }}</p>
{% endfor %}
<p class="inline">{{ row[row|length - 1] }}</p>
<br />
{% endfor %}{% endblock %}
