{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<style>
  .inline {
    display: inline;
  }
</style>
<h1>Write or select csv file name</h1>
<form action="{{ url_for('get_filename') }}" method="post">
  <p><input type="text" name="filename_text" />.csv</p>
  <select name="filename_select">
    {% for option in options %}
    <option value="{{ option }}">{{ option }}</option>
    {% endfor %}
  </select>
  <p class="inline">.csv</p>
  <p><input type="submit" value="Get data" /></p>
</form>
{% endblock %}
